*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: #fff;
}
:root{
  --bg-py: #7000FF;
  --bg-gold: #FFFF00;
  --bg-green: #AAF777;
}
.container{
  width: 1250px;
  margin: auto;
}
@media screen and   (max-width: 1280px){
  .container{
    width: 100%;
    padding: 0 16px;
  }
}
li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: inherit;
}